body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: #ffffff;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
 }
 nav{
    display: flex;
    justify-content: space-between;
    margin: 51px 100px 30px 150px
}
.nav-title{
    color: #181818;
    
    font-size: 45px;
    
    font-weight: 800;
    height: 61px;
    width: 121px;
}

nav >ul{
    display: flex;
    align-items: center;

}

nav li{
    list-style: none;
    margin-right: 51px;

}
 nav a{
    text-decoration: none;
    color: #474747;
 }
 .banner{
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
 }
 .banner-content{
    max-width: 581px;
 }
 .banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;

 }

 .banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
 }

 .banner-description{
    width: 585px;
 }
 .banner .profile-pic{
    width: 500px;
    height: 676px;
    position:;
 }
 .section-title{
    color: #181818;
    text-align:center ;
    font-size: 35px;
    font-weight: 700;
    
 }

.section-description{
    color: #757575;
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}


.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    
    width: 150px;
    height: 64px;
    font-size: 20px;
    border-radius: 5px;
    background: #FD6E0A;
}




 main{
    background: #FFF8F3;
    max-width: 1140px;
    height: 550px;

    margin: 0 auto;
    border-radius: 10px;


 }
 main section{
    margin-top: 130px;
 }
 .about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
 }
 .about-info-container{
    display: flex;
    justify-content: space-between;
 }
 .about-info{
    text-align: center;
 }

.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 150px;
}
.skill-container{
    display: flex;
}

.resume-container{
    display: flex;
    gap: 50px;
}
.resume-container hr{
    margin: 30px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institution{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-institution, .resume-item-description{
    color:#757575 ;
}

.download-cv{
   text-align: center;
   margin-top: 50px;
}

/* footer styles */
footer{
    display: flex;
    background: #FFF8F3;
    gap: 100px;
    margin-top: 100px;
    padding: 130px 200px;
}


.footer-column{
    width: 50%;
}
.social-link a{
    margin-right: 25px;
}
.contact input[type="text"],.contact input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

 